.main-navbar {
  padding: 0 2.5em;
  padding-right: 2em;
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  color: white;
  width: 100%;
}

.main-navbar .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  color: white;
  width: fit-content;
}

.main-navbar .left img {
  height: 2.5em;
}

.main-navbar ul {
  list-style: none;
  display: flex;
  gap: 1em;
  transition: 0.3s;
}
.main-navbar ul a {
  color: white;
  text-decoration: none;
}
.main-navbar ul a:active {
  color: white;
}
.main-navbar ul li {
  padding: 0.2em 0.5em;
}

.main-navbar .middle ul li:hover {
  cursor: pointer;
  padding: 0.2em 0.5em;
  background-color: white;
  color: black;
  border-radius: 0.5em;
}

.main-navbar input {
  width: 18em;
  padding: .25em 1em;
  height: 2.5em;
  outline: none;
}

.main-navbar input:active {
  width: 70em;
}

.main-navbar .right {
  max-width: 69.5em;
  overflow: hidden;
}

.main-navbar input:focus {
  width: 69.5em;
}

.main-navbar .user-profile {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}

.main-navbar .user-profile img{
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}


.main-navbar i {
  cursor: pointer;
  color: white;
}

.main-navbar .tooltip {
  position: absolute;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.main-navbar i:hover + .tooltip {
  visibility: visible;
  opacity: 1;
}

.main-navbar .dialog-box {
  z-index: 30;
  border-radius: 0.25em;
  background-color: var(--body-background);
  color: black;
  font-size: 1em;
  position: absolute;
  top: 3.5em;
  right: 9.5em;
  max-height: 15em;
  overflow: scroll;
  padding: 1em 2em;
  width: 58em;
}

.main-navbar .dialog-box ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 0.8em;
}

.main-navbar .dialog-box ul li:hover {
  color: var(--secondary-color);
}
