.main-navbar {
    padding: 0 1em;
    background-color: #6A6293;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    color: white;
    width: 100%;
}

.main-navbar ul {
    list-style: none;
    display: flex;
    gap:1em;
    transition: .3s;
}

.main-navbar ul li {
    padding: .2em .5em;
}

.main-navbar ul li:hover {
    cursor: pointer;
    padding: .2em .5em;
    background-color: black;
    color: white;
    border-radius: .5em;
}

.main-navbar input {
    width: 15em;
    height: 2em;
}