/* about-me css */

.about-section {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: white;
    border-radius: .5em;
}

.about-section hr {
    margin-top: .5em;
}

.about-section h4 {
    font-size: 1.2em;
    font-weight: 500;
}

/* profile css */

.profile {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:1em;
    background-color: white;
    border-radius: .5em;
}


.user-img {
    height: 5em;
    width: 5em;
    margin-top: -3.5em;
    margin-left: 2em;
}

.user-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    gap:.2em;
    flex-direction: column;
    margin-left: 2em;
}

/* user-details css */

.user-info {
    background-color: white;
    padding: .8em;
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    border-radius: .5em;
}


.user-info h4 {
    font-size: 1.5em;
    margin: 0;
}

.user-info p {
    margin-top: 1em;
}


/* user courses */

.course-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: white;
    border-radius: .5em;
}

/* course css */

.course-component{
    display: flex;
    gap: 2em;
} 

/* user project */

.user-projects {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: white;
    border-radius: .5em;
}

.user-projects > div {
    display: flex;
    gap : 2em;
}

/* project */

.project-component {
    width: 100%;
}
