.navbar-chat-page .circle1 {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background-color: white;
}
.navbar-chat-page {
    padding: 0 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292949;
    height: 4.6em;
    color: white;
    font-size: 1.2em;
}
