.main-container {
    background-color: var(--body-background);
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: top;
    width: 100%;
    padding: 1rem 3rem;
    padding-top: 2em;
    gap: 2rem;
    height: 92vh;
    overflow-y: hidden;
}
.left-section {
    margin: 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 21%;
    gap: 1rem;
    align-items: top;
}

.middle-section {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: auto;
    gap: 1rem;
    overflow: scroll;
    scrollbar-width: none;
}

.right-section {
    margin: 0;
    display: flex;
    width: 25%;
    flex-direction: column;
    gap: 1rem;
}
.right-section h2 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.top-projects, .top-groups {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    height: auto;
    padding: 1em 1em;
}
  
  