.feed-container {
    box-sizing: border-box;
    background-color: white;
    box-shadow: var(--box-shawdow);
    width: 100%;
    height: auto;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
  
.feed-container .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.feed-container .flex {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.feed-container .heading .flex img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.feed-container .body-image {
    width: 41.5rem;
    height: 30rem;
    align-content: center;
}
.feed-container .body-image img{
    width:100%;
    height: 100%;
    align-self: center;
}
  
.feed-container .footer {
    display: flex;
    justify-content: space-between;
}

.feed-container .like, .comment {
    display: flex;
    align-items: center;
    gap: 1rem;
}
  