.feed-container {
    color: white;
    box-sizing: border-box;
    background-color: #2C2B40;
    width: 100%;
    height: 36rem;
    border-radius: .5rem;
    padding: 1rem;
  }
  
  .feed-container .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .feed-container .flex {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  
  .feed-container .body-image img{
    width: 41.5rem;
  }
  
  .feed-container .footer {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
  }
  .feed-container .like, .comment {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  