.doubt-answer{
    display: flex;
    gap: 1em;
    width: 100%;
    margin-bottom: 2em;
}

.doubt-answer-left {
    width: 5em;
    height: 5em;
    background: #000;
}

.doubt-answer h5 {
    font-weight: 600;
    font-size: .8em;
    color: rgb(152, 152, 152);
}
