.doubt {
    width: 100%;
    background-color: white;
    border-radius: .5em;
    padding: 1.5em 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.doubt h2 {
    font-size: 1.5em;
    font-weight: 600;
}


.doubt .tags {
    display: flex;
    gap: 1em;
}

.doubt .tags p {
    font-size: .8em;
    font-weight: 400;
    background-color: black;
    color: white;
    padding: .2em .5em;
    border: 1px solid black;
    border-radius: 5em;
}

.doubt .description {
    font-size: 1.1em;
    line-height: 1.3;
    font-weight: 500;
    color: rgb(152, 152, 152);
}

.doubt .footer .flex {
    cursor: pointer;
}

.doubt .bold {
    font-weight: 500;   
}