.chat-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    gap: 2em;
}

.chat-page .flex-gap-0 {
    border-radius: .5em;
    margin: 1em 3em;
    color: white;
    box-shadow: var(--box-shadow);
}
