.profile-page-flex {
    display: flex;
}

.profile-page {
    display: flex;
    flex-direction: column;
    background-color: var(--body-background);
}


.profile-header {
    display: flex;
    gap:1em;
}

.profile-page .user-menu {
    margin: 1em auto;
    margin-bottom: 0;
    transition: .5s;
    font-weight: 500;
}

.profile-page .about-user {
    width: 90%;
    margin: 2em auto;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap:1em;
}

.profile-page .user-menu p {
    font-weight: 600;
}

.profile-page .user-menu p:hover {
    color: black;
    cursor: pointer;
    border-bottom: 2px solid var(--secondary-color);
}


