.profile-page-flex {
    display: flex;
}

.profile-page {
    display: flex;
    flex-direction: column;
}


.profile-header {
    display: flex;
    gap:1em;
}

.profile-page .user-menu {
    margin: 1em auto;
    margin-bottom: 0;
    transition: .5s;
    font-weight: 500;
}

.profile-page .about-user {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap:1em;
}

.profile-page .user-menu p:hover {
    font-weight: 600;
    color: black;
    cursor: pointer;
    border-bottom: 2px solid rgb(110, 0, 244);
}


