.comment-preview{
    display: flex;
    /* align-items: center; */
    padding-top: 2em;
    gap: 2em;
}

.img_in_comment{
    width: 2.5em;
    height: 2.5em;
}

.sec_of_comment{
    padding-left: 2.7vw;
    padding-right: 2.7vw;
}

.comment-preview p{
    text-transform: capitalize;
    padding-left: 1em;
}

.add_comment{
    font-size: 1.1vw;
    border: 1px solid black;
    border-radius: 1.1vw;
    padding: 0.5em .7em;
    font-weight: 400;
    cursor: pointer;
}

.comment_user, .user_comment{
    padding-left: 1vw;
}

.user_comment{
    font-size: 1vw;
}

.comment_user{
    font-weight: 600;
    font-size: 1.1vw;
    margin: 0;
}