.view-project {
    padding: 4em 2em;
    display: flex;
    gap: 4em;
    align-items: flex-start;
}

.view-project .left-part {
    width: 18%;
}

.project-feed-component {
    width: 82;
    display: flex;
    flex-direction: column;
    gap: 2em;
}