.upload-project-form {
    max-width: 50em;
    margin: 0 auto;
    padding: 1em;
}

.upload-project-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.upload-project-form h2 {
    text-align: center;
}
  
.upload-project-form label {
    display: block;
    margin-bottom: .5em;
    font-weight: 400;
}
  
.upload-project-form [type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: .6em;
    margin-bottom: 0.8em;
    border: 1px solid black;
    border-radius: .3em;
    box-sizing: border-box;
    outline: none;
}

.upload-project-form select {
    width: 20em;
    height: 2.5em;
    padding: 0 1em;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}
  
.upload-project-form textarea {
    border: 1px solid black;
    height: 8em; 
    outline: none;
}

.upload-project-form ul {
    margin-top: .5em;
    background-color: #eee;
    overflow: hidden;
    padding: .5em;
    height: 3em;
    display: flex;
    list-style: none;
    gap: 1em;
}

.upload-project-form ul li {
    border: 1px solid black;
    color: black;
    border-radius: 10em;
    padding: .5em 1em;
}

.upload-project-form button[type="submit"] {
    width: 100%;
    height: 3em;
    background-color: black;
    color: white;
    border: none;
}
  
