.upload-project-form {
    width: 100%;
    display: flex;
    background-color: var(--body-background);
}

.upload-project-form .left {
    padding-left: 2em;
    margin-top: 5em;
    width: 50%;
}

.upload-project-form .left p {
    margin-top: -1em;
    margin-bottom: 1em;
}

.upload-project-form .right {
    position: relative;
    background: url('https://images.unsplash.com/photo-1555538284-0649b24e48ab?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTR8fHByb2plY3R8ZW58MHx8MHx8fDA%3D');
    background-size: cover;  
    width: 50%;
}

.upload-project-form .right::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4bf9669;
}

.upload-project-form form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 2em;
}
.upload-project-form h2 {
    margin-bottom: 1em;
}
  
.upload-project-form label {
    display: block;
    margin-bottom: .5em;
    font-weight: 400;
}
  
.upload-project-form [type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: .6em;
    margin-bottom: 0.8em;
    border: 1px solid var(--black-color);
    border-radius: .3em;
    box-sizing: border-box;
    outline: none;
}

.upload-project-form select {
    width: 20em;
    height: 2.5em;
    padding: 0 1em;
    border: 1px solid var(--black-color);
    background-color: white;
    border-radius: 5px;
}
  
.upload-project-form textarea {
    border: 1px solid var(--black-color);
    height: 6em; 
    outline: none;
}

.upload-project-form ul {
    margin-top: .5em;
    background-color: #ce5a689c;
    border-radius: .5em;
    overflow: hidden;
    padding: .5em;
    height: 3em;
    display: flex;
    list-style: none;
    gap: 1em;
}

.upload-project-form ul li {
    position: relative;
    overflow: hidden;
    border: 1px solid var(--black-color);
    color: black;
    border-radius: 10em;
    padding: .5em 1em;
}

.upload-project-form ul li:hover::after {
    content: "X";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.687);
    color: white;
    padding: .3em 1.5em; 
    z-index: 1; 
}
.upload-project-form button[type="submit"] {
    width: 100%;
    height: 3em;
    background-color: var(--black-color);
    color: white;
    border: none;
}
  
