.myproject-container {
    box-sizing: border-box;
    padding: 1rem;
    background: white;
    box-shadow: var(--box-shawdow);
    border-radius: .5rem;
    align-items: center;
    width: 100%;
    height: 16.5rem;
}
.myproject-container .heading {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myproject-container h3 {
    font-size: 1rem;
    margin-top: .5rem;
}

.myproject-container input {
    width: 96%;
    border: none;
    outline: none;
    height: 1.8rem;
    margin-top: .8em;
    border-radius: .2rem;
    background-color: #454545;
    color: white;
    padding: 0 .5em;
}

.myproject-container img {
    height: 1.2rem;
}

.myproject-container .projects {
    display: flex;
    flex-direction: column;
    gap: .5em;
    overflow-y: scroll;
}

.myproject-container .project {
    width: 95%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.myproject-container button {
    border: none;
    background-color: #454545;
    cursor: pointer;
    color: white;
    padding: .25rem 1rem;
    border-radius: .5rem;
}