.project-page-container {
    display: flex;
    flex-direction: column;
    min-height: 130vh;
    background-color: var(--body-background);
    padding-bottom: 2em;
}

.project-page-container .upper {
    background: url('https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    position: relative;
    background-size: cover;
    height: 35em;
}

.project-page-container .upper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1;
}

.project-page-container .Back {
    color: white;
    margin-left: 81.25em;
    padding-top: 1.25em;
}

.project-page-container .heading {
    position: relative;
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 600;
    z-index: 2;
    text-align: center;
    padding-top: 3.5em;
}

.project-page-container .created-by {
    text-align: center;
    margin-left: 20em;
}

.project-page-container .nav {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3em;
    margin-top: 2em;
}
.project-page-container .nav p {
    font-weight: 600;
    transition: .3s;
}

.project-page-container .nav p:hover {
    cursor: pointer;
    font-weight: 600;
    color: var(--secondary-color);
}