.karta {
    background-color: var(--body-background);
    height: 100vh;
}
.main_container {
    display: flex;
    /* align-items: center; */
    padding-top: 4em;
    justify-content: space-between;
    flex-direction: row;
    gap:1.5em;
    
}
.mid_main {
    display: flex;
    align-items: flex-start;
    gap : 2em;
    flex-direction: column;
}