.community-container {
    color: black;
    width: 55em;
    padding: 1em;
}

.community-container .post {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: white;
    margin-bottom: 5rem;
    padding: 3rem;
    border-radius: .5em;

}

.community-container i {
    font-size: 1.5em;
}
.community-container .lang {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: .5em;
}

.community-container .lang p {
    border: 1px solid black;
    border-radius: 5em;
    padding: .25em 1em;
}
.community-container .foot{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: black;
}

.community-container .enter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2em;
}
.community-container .Join{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
}

.community-container .Join button {
    margin-left: .5em;
}

.community-container button {
    padding: .5em 1.5em;
    background-color: black;
    color: white;
    border-radius: .25em;
    border: none;
}
.community-container .right_foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}