.project-container {
    background-color: #2C2B40;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
    height: auto;
    border-bottom: 1px solid white;
  }
  
  .project-container h3 {
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
  }
  
  .project-container p {
    color: #eee;
    margin-top: 0.6rem;
    font-size: 0.7rem;
  }
  
  .language-total p {
    margin: 0;
  }
  
  .rating p {
    margin: 0;
  }
  .project-container .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
  }
  .project-container .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .project-container .language-total {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }
  