.profile-container {
    display: flex;
    justify-content: center;
    box-shadow: var(--box-shawdow);
    padding: 1em;
    border-radius: .5rem;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
    height: auto;
 }

.profile-container h3 {
  margin-top: .5rem;
}
  
.profile-container p {
    margin-top: .5rem;
    text-align: center;
}

.profile-container button {
  cursor: pointer;
  padding: .5em 1.5em;
  background-color: black;
  border: none;
  margin-top: .8em;
  border-radius: .5em;
  color: white;
}
.profile-container .circle {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: black;
    border: 2px solid white;
}
  